@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'AltoneNormal';
    src: url('./style/fonts/AltoneTrial-Regular.ttf') format('truetype');
    font-weight: 400;
    /* Ajusta según tus necesidades */
    font-style: normal;
    /* Ajusta según tus necesidades */
  }
  
  @font-face {
    font-family: 'AltoneBold';
    src: url('./style/fonts/AltoneTrial-Bold.ttf') format('truetype');
    font-weight: 400;
    /* Ajusta según tus necesidades */
    font-style: normal;
    /* Ajusta según tus necesidades */
  }

  @font-face {
   font-family: 'tommy';
   src: url('./fonts/Tommy.otf') format('opentype');
   font-weight: bold;
   /* Ajusta según tus necesidades */
   font-style: normal;
   /* Ajusta según tus necesidades */
 }


  .fade-enter{
    opacity: 0;
 }
 .fade-exit{
    opacity: 1;
 }
 .fade-enter-active{
    opacity: 1;
 }
 .fade-exit-active{
    opacity: 0;
 }
 .fade-enter-active,
 .fade-exit-active{
    transition: opacity 500ms;
 }

 #map {
   height: 250px; /* Ajusta a tus necesidades */
   width: 300px;
 }

 /* Basic editor styles */
.tiptap {
   > * + * {
     margin-top: 0.75em;
   }
 
   ul,
   ol {
     padding: 0 1rem;
   }
 
   h1 {
      font-size: 4rem;
      font-weight: bold;
   }
   h2 {
      font-size: 2rem;
      font-weight: normal;
   }
   h3 {
      font-size: 1.5rem;
   }

   h4 {
      font-size: 1rem;
   }
   h5,
   h6 {
     line-height: 1.1;
   }
 
   code {
     background-color: rgba(#616161, 0.1);
     color: #616161;
   }
 
   pre {
     background: #0D0D0D;
     color: #FFF;
     font-family: 'JetBrainsMono', monospace;
     padding: 0.75rem 1rem;
     border-radius: 0.5rem;
 
     code {
       color: inherit;
       padding: 0;
       background: none;
       font-size: 0.8rem;
     }
   }
 
   img {
     max-width: 100%;
     height: auto;
   }
 
   blockquote {
     padding-left: 1rem;
     border-left: 2px solid rgba(#0D0D0D, 0.1);
   }
 
   hr {
     border: none;
     border-top: 2px solid rgba(#0D0D0D, 0.1);
     margin: 2rem 0;
   }
 }