@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'AltoneNormal';
    src: url('./style/fonts/AltoneTrial-Regular.ttf') format('truetype');
    font-weight: 400;
    /* Ajusta según tus necesidades */
    font-style: normal;
    /* Ajusta según tus necesidades */
  }
  
  @font-face {
    font-family: 'AltoneBold';
    src: url('./style/fonts/AltoneTrial-Bold.ttf') format('truetype');
    font-weight: 400;
    /* Ajusta según tus necesidades */
    font-style: normal;
    /* Ajusta según tus necesidades */
  }

  .fade-enter{
    opacity: 0;
 }
 .fade-exit{
    opacity: 1;
 }
 .fade-enter-active{
    opacity: 1;
 }
 .fade-exit-active{
    opacity: 0;
 }
 .fade-enter-active,
 .fade-exit-active{
    transition: opacity 500ms;
 }

 #map {
   height: 250px; /* Ajusta a tus necesidades */
   width: 300px;
 }